#
# Copyright (c) 2023 Deemen17
# SPDX-License-Identifier: MIT
#
config BOARD_SPLIT75_LEFT
	bool "SPLIT75_left"
	depends on SOC_NRF52840_QIAA

config BOARD_SPLIT75_RIGHT
	bool "SPLIT75_right"
	depends on SOC_NRF52840_QIAA