#
# Copyright (c) 2023 Deemen17
# SPDX-License-Identifier: MIT
#

if BOARD_SPLIT75_LEFT

config ZMK_KEYBOARD_NAME
	default "SPLIT75"

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif # BOARD_SPLIT75_DONGLE

if BOARD_SPLIT75_LEFT || BOARD_SPLIT75_RIGHT

config BOARD
	default "SPLIT75"

config I2C
	bool
	default y

config SPI
    bool
    default y

endif # BOARD_SPLIT75_LEFT || BOARD_SPLIT75_RIGHT

if BOARD_SPLIT75_LEFT || BOARD_SPLIT75_RIGHT

config ZMK_SPLIT
	default y

if USB

config USB_DEVICE_STACK
	default y

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

endif # USB

config BT_CTLR
	default BT

endif # BOARD_SPLIT75_LEFT || BOARD_SPLIT75_RIGHT


