#
# Copyright (c) 2021 Polarity Works
# SPDX-License-Identifier: MIT
#

config BOARD_SPLIT75_LEFT
	bool "split75_left"
	depends on SOC_NRF52840_QIAA

config BOARD_SPLIT75_RIGHT
	bool "split75_right"
	depends on SOC_NRF52840_QIAA
